@font-face {
  font-family: "Inter-regular";
  src: url(/assets/font/Inter-Regular.woff2);
}
@font-face {
  font-family: "Roboto-regular";
  src: url(/assets/font/roboto-regular.woff2);
}
@font-face {
  font-family: "Inter-italic";
  src: url(../assets/font/Inter-Italic.woff2);
}
@font-face {
  font-family: "Inter-semibolditalic";
  src: url(/assets/font/Inter-SemiBoldItalic.woff2);
}
@font-face {
  font-family: "Inter-semibold";
  src: url(/assets/font/Inter-SemiBold.woff2);
}
:root {
  --regular: "Inter-regular";
  --italic: "Inter-italic";
  --italic-semibold: "Inter-semibolditalic";
  --semibold: "Inter-semibold";
  --roboto: "Roboto-regular";
}
body,
p,
ul,
li,
h1,
h2,
img,
button {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: var(--regular);
  box-sizing: border-box;
  font-size: 15.2px;
  background: #f1f3f6;
  line-height: 1.4;
}
* {
  box-sizing: border-box;
}
.navbar {
  background-color: #2874f0;
  padding: 0 124px;
  height: 56px;
}
.navbar-container {
  max-width: 1248px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-logo-container {
  min-width: 137px;
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: end;
}
.logo-row-2 {
  margin-top: -1px;
  display: flex;
  align-items: center;
}
.logo-row-1 {
  height: 20px;
}
.logo-row-2 p {
  font-size: 10.7px;
  font-family: var(--italic);
  margin-right: 2px;
  font-weight: 200;
  color: #fff;
}
.logo-row-2 span {
  color: #ffe500;
  font-size: 11px;
  font-family: var(--italic);
  margin-right: 1px;
}
.inputFeild {
  border: none;
  font-size: 13px;
  font-family: var(--semibold);
  font-weight: 100;
}
.inputFeild ::placeholder {
  color: #000;
  opacity: 1;
}
.inputFeild:focus {
  outline: none;
}
.searchbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 36px;
  width: calc(100% - 540px);
  margin: 0 17px 0 12px;
  border-radius: 2px;
}
.searchBar-container {
  padding: 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.search-icon {
  height: 20px;
  padding: 0 14px;
  margin-top: 1px;
}

.login {
  height: 100%;
  background: #fff;
  border: 1px solid #dbdbdb;
  margin: 0 20px;
  padding: 5px 40px;
  height: 31px;
  margin-top: -2px;
}
.login {
  color: #2874f0;
  font-family: var(--semibold);
  line-height: 19px;
  font-size: 15.2px;
  letter-spacing: 0.1px;
}
.standard {
  margin: 0 20px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
}
.standard span {
  text-wrap: nowrap;
  /* margin-top: -2px; */
  font-size: 15.2px;
  letter-spacing: 0.1px;
  font-weight: 500;
  font-family: var(--semibold);
  color: #fff;
}
.caret-down {
  transform: rotate(270deg);
  margin: 1px 0 0 8px;
}
.cart {
  width: 16px;
  margin: 0 8px;
}
.secondaryNavBarWrapper {
  margin-top: -1px;
  height: 1px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px 0px;
  z-index: 99999;
  position: relative;
}
.secondary-nav {
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.secondary-nav-child {
  max-width: 1248px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.fill-svg {
  opacity: 0.5;
}
.secondary-nav-item {
  font-size: 13px;
  letter-spacing: 0.18px;
  font-weight: 500;
  font-family: var(--semibold);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 40px;
  margin-top: -2px;
}
.main-section {
  max-width: 1680px;
  margin: 0 auto;
  padding: 8px;
  min-width: 978px;
  background: #f1f3f6;
}
.filter-container {
  min-width: 270px;
  max-width: 270px;
  margin-right: 10px;
 box-shadow :0 1px 8px 0 rgba(0,0,0,.06);
}
.filter-container-child {
  background: #fff;
}
.filter-heading span {
  font-size: 17.2px;
  font-family: var(--semibold);
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 25px;
}
.filter-heading {
  padding: 16px 16px 12px;
  border-bottom: 1px solid #f0f0f0;
}
.filtercard span {
  font-size: 12px;
  line-height: normal;
  font-family: var(--regular);
  letter-spacing: 0.1px;
}
.filtercard {
  cursor: pointer;
  background-color: #e0e0e0;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 100%, 0.5);
  border-radius: 3px;
  margin: 2px 4px;
  overflow: hidden;
  width: fit-content;
  max-width: 200px;
  padding: 8px;
}
.fliterCardSpan {
  margin-left: 8px;
}
.filter-content {
  display: flex;
  flex-wrap: wrap;
}
.filter-categories {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
}
.filter-categories p {
  font-size: 11.2px;
  line-height: 16.797px;
  font-family: var(--semibold);
  letter-spacing: 0.1px;
  margin-bottom: 5px;
}
.category-1 {
  height: 29.59px;
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.category-1 img{
  margin-top: -2px;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.category-1 span {
  color: #878787;
  font-size: 13.2px;
  letter-spacing: 0.01px;
}
.category-2 {
  color: #000;
  font-size: 13.2px;
  padding: 5px 0;
  margin-left: 7px;
  line-height: 20px;
  font-family: var(--semibold);

}
.filter-price-slider {
  padding: 16px;
}
.price-heading {
  font-size: 12.2px;
  font-family: var(--semibold);
  letter-spacing: 0.2px;
  line-height: 18.19px;
}
.main-section {
  display: flex;
}
.mobileContainer {
  width: 100%;
  background: #fff;
}
.pageLocationHeader {
  padding: 12px 16px 0;
  border-bottom: 1px solid #f0f0f0;
}
.pageLocation {
  display: flex;
  align-items: center;
  gap: 4px;

}
.pageLocation span{
  font-size: 11.3px;
  font-weight: 400;
  color: #878787;
  line-height: 19.59px;
  min-width: 15px;
  text-align: center;
}
.pagelocationSpan {
  display: block;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pagelocationSpan:hover {
  width: fit-content;
}
.pageLocation span:hover {
  color: #2874f0;
}
.searchDataHeader {
  font-size: 15.2px;
  color: #000;
  margin-top: 8px;
  font-family: var(--semibold);
  line-height: 22.39px;
}

.sort-nav {
  display: flex;
}
.sort-nav-heading {
  padding: 8px 10px 4px 0;
  font-size: 13.2px;
  line-height: 19.59px;
  font-family: var(--semibold);
  border-bottom: 2px solid #fff;
}
.sort-nav-item {
  padding: 8px 0 4px;
  margin: 0 10px;
  font-size: 13px;
  font-family: var(--regular);
  letter-spacing: 0.15px;
}

.mobileChildContainer {
  padding: 24px 0 30px 24px;
  display: flex;
}
.mobileImageContainer {
  position: relative;
}
.mobileImage {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  object-fit: contain;
}
.addtocompareButtonChild {
  margin-top: 16px;
  font-size: 13px;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 8px;
}

.specInfoContainer {
  padding-left: 25px;
  width: 100%;
  display: flex;
}
.productName {
  color: #000;
  font-family: var(--semibold);
  font-size: 17px;
  line-height: 18px;
}
.productRating {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.productRatingButton {
  background: #388e3c;
  padding: 2px 4px 2px 6px;
  color: white;
  font-size: 11px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1px;
}
.productRatingButton img {
  width: 10px;
  padding-bottom: 2px;
}
.productRatingText {
  padding-left: 8px;
  color: #878787;
  font-size: 13px;
  line-height: 16px;
  font-family: var(--semibold);
}
.specificationContainer {
  margin-top: 13px;
}
.specUl {
  list-style-type: none;
}
.specElement {
  font-size: 13px;
  line-height: 22px;
  color: #212121;
}
.specElement::before {
  content: "•";
  color: rgb(194, 194, 194);
  padding-right: 8px;
}
.specInfoPartitionSecond {
  padding-left: 25px;
}
.pricetext {
  font-size: 25px;
  line-height: 25px;
  font-family: var(--semibold);
}
.priceTextflex {
  display: flex;
  align-items: start;
}
.priceTextOff span {
  color: #878787;
  text-decoration: line-through;
  font-size: 13px;
  font-family: var(--regular);
}
.priceTextOff {
  padding-top: 10px;
  color: #388e3c;
  font-size: 13px;
  font-family: var(--semibold);
}
.flipAssured {
  padding-left: 8px;
}
.specInfoPartitionFirst {
  width: 58.33%;
}
.deliveryText {
  margin-top: 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}
.saveText {
  font-size: 11px;
  font-family: var(--semibold);
  margin-top: 5px;
  color: #26a541;
}
.bankOffer {
  font-size: 13px;
  font-family: var(--semibold);
  margin-top: 5px;
  color: #26a541;
}
.priceGraph {
  height: 25px;
  width: 100%;
  position: relative;
  bottom: -6px;
  background: #e0e0e0;
  z-index: 1;
}
.priceSliderWrapper {
  position: relative;
}
#priceSliderInput {
  position: relative;
  width: 100%;
  z-index: 3;
}
.priceSliderDots {

  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
}
.priceSliderDot{
  position: absolute;
  z-index: 99;
}
.sliderDot{
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #bababa;
}
#priceSliderDot1{
  right: -4px;
}
#priceSliderDot2{
  left: -4px;
}
.minMaxSelector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  height: 25px;
}
.dot {
  height: 25px;
  color: #878787;
}
select {
  flex-grow: 2;
  background: #fff;
  padding: 0 10px 0 0;
  height: 24px;
  font-size: 13px;
  outline: none;
  letter-spacing: 0.1px;
  border: 1px solid #e0e0e0;
}
#SelectMax {
  flex-grow: 2;
}
.minMaxSelector span {
  font-size: 13px;
  margin: 0 9px;
  color: #878787;
  text-align: center;
  flex: 1;
}
.selectCategoryHeading {
  font-family: var(--semibold);
  font-size: 12px;
  line-height: 18.19px;
  padding: 0 0 8px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.searchBrand {
  border: none;
  color: #878787;
  font-size: 12px;
  padding-left: 8px;
  border-bottom: 1px solid #f0f0f0;
}
.searchBrandInput {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 7px;
}
.categoryCard span {
  font-size: 13px;
  padding-left: 5px;
  line-height: 14px;
  font-size: 500;
  color: #212121;
  font-family: var(--regular);
}
.categoryCard {
  height: 32px;
  padding: 3px 0;
  display: flex;
  align-items: center;
}
.padding-bottom-16 {
  padding-bottom: 16px;
}
.selectCategory {
  padding: 16px;
  border-top: 1px solid #e0e0e0;
}
.priceSliderBar {
  height: 6px;
  background: #2874f0;
  transform-origin: left center;
  position: absolute;
  top: 4px;
  width: 100%;
  overflow-y: hidden;
  transform: translate(0px) scaleX(0.995);
}
.paginationWrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  background-color: #fff;
}
.pagination {
  display: flex;
}
.paginationButton {
  padding: 0 8px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.mobileContainerWrapper {
  width: 100%;
 box-shadow :0 1px 8px 0 rgba(0,0,0,.06);
}
.findWhatYouLookingFor {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #fff;
  margin-top: 10px;
}
.findWhatText {
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 15.2px;
}
.findWhatButton {
  padding: 6px 28px;
  margin-left: 8px;
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  font-size: 15.2px;
  font-family: var(--roboto);
  font-weight: 500;
}
.noResultFound {
  padding: 50px;
}
.noResultFoundChild {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noResultFoundHeading {
  font-size: 26px;
  font-weight: 500;
  font-family: var(--semibold);
  margin: 20px 0 10px;
}
.noResultFoundText {
  font-size: 20px;
  color: #878787;
  margin-bottom: 8px;
}
